* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* APP WRAPPER */
.app {
  min-height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
}

/* INPUT SCREEN */
.input-box {
  width: 100%;
  max-width: 500px;
  margin: auto;
  background: #020617;
  padding: 40px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0,0,0,0.6);
}

.input-box h1 {
  margin-bottom: 20px;
  color: #7dd3fc;
}

.input-box input {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

.input-box button {
  padding: 12px 30px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.input-box button:hover {
  background: #2563eb;
}

/* DASHBOARD */
.dashboard {
  width: 100%;
  max-width: 1100px;
}

.dashboard h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #7dd3fc;
}

.url {
  text-align: center;
  font-size: 13px;
  color: #94a3b8;
  margin-bottom: 30px;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0 40px;
}

.stat-card {
  background: #020617;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  min-width: 180px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.6);
}

/* CHARTS */
.charts {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.chart-card {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  width: 380px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.7);
}

.chart-card h3 {
  text-align: center;
  margin-bottom: 14px;
  color: #7dd3fc;
}

/* REVIEWS */
.reviews {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.reviews ul {
  list-style: none;
  padding: 0;
}